<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>gTools Test</title>
		<link href="gTools.php?type=css&group=css" type="text/css" rel="stylesheet"/>
 		<script src="gTools.php?type=js&group=extensions&engine=cc&nominify=1" type="text/javascript"></script>
		<script src="gTools.php?type=js&group=components&nogtools=1&engine=cc&nominify=1" type="text/javascript"></script>
<!--  		<script src="gTools.php?type=js&group=extensions&engine=cc" type="text/javascript"></script>
		<script src="gTools.php?type=js&group=components&nogtools=1&engine=cc" type="text/javascript"></script> -->
	</head>
	
	<body style="height:2000px;">
		<script type="text/javascript">
			var masker  = new $GT$.helper.masker({color:'pink'});
			masker.show();
			setTimeout(function(){
				masker.hide();
			}, 2000);
		</script>
	</body>
</html>